<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat messages</title>
  <style>
    .new {
      background-color: blue;
      transition: background-color 2sec;
    }
  </style>
</head>

<body>
  <h2>User: {{user}}</h2>
  <form action="/chat" method="POST">
    <input type="text" name="message"><button type="submit">Send!</button>
  </form>
  <div id="messages">
    {{#if messages}}
    <ul>
      {{#each messages}}
      <li {{#if (newerThan timestamp ../lastUpdate)}}class="new" {{/if}}>{{message}} (by {{sender}}) <span
          class="timestamp">{{formatDate timestamp}}</span></li>
      {{/each}}
    </ul>
    {{else}}
    No messages
    {{/if}}
  </div>
</body>

<script src="backgroundLoader.js" type="module"></script>

</html>
